@font-face {
  font-family: "e-Ukraine";
  src: url("./fonts/e-Ukraine-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "e-Ukraine", sans-serif;
}

body {
  background: #ffffff;
}

.login-card {
  width: 612px;
  height: 529px;
  background: #d9d9d9;
  border-radius: 20px;
  margin: 120px auto;
  padding: 0 25px 35px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  width: 50.88px;
  height: 50.88px;
  background: #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-title {
  padding-top: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}

.login-form {
  width: 561px;
  margin: 0 auto;
}

.login-form label {
  font-size: 16px;
  display: block;
}

.login-form input {
  width: 100%;
  height: 53px;
  margin-top: 20px;
  padding: 0 37px;
  border-radius: 20px;
  border: 1px solid #6e6e6e;
  background: #d9d9d9;
  font-size: 16px;
}

.login-form input::placeholder {
  color: #6e6e6e;
}

.login-form .field {
  margin-top: 30px;
}

.login-btn {
  width: 100%;
  height: 54.88px;
  margin-top: 35px;
  background: #0074f6;
  border: none;
  border-radius: 20px;
  color: #f4f4f4;
  font-size: 16px;
  cursor: pointer;
}

.register {
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  color: #6e6e6e;
}

.register a {
  display: block;
  margin-top: 30px;
  color: #0074f6;
  text-decoration: none;
}
